.explore-menu-list{
    overflow-x: scroll;
    scroll-behavior: smooth;
}
@media (max-width:991px) {
    .explore-menu-list::-webkit-scrollbar {
        display: none;
    }
}
.explore-menu-item img{

    border-radius: 50%;
}
.explore-menu-item .active{
    border:4px solid tomato;
    padding:2px;
    
}